html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, 微软雅黑, STHeitiSC-Light, simsun, 宋体, WenQuanYi Zen Hei, WenQuanYi Micro Hei, 'sans-serif';
}

#app {
    width: 100%;
    height: 100%;
}

.input-search {
    border: 1px solid #32ccca;
    outline: #32ccca;
}

.btn-search {
    color: #ffffff;
    background-color: #32ccca;
}

.btn-search:hover,
.btn-search:focus {
    color: #ffffff;
    outline: none;
}
.btn-ory{
    color:#ffffff;
    background-color: #ff9b50;
}
.btn-ory:hover,
.btn-ory:focus
{
    color:#ffffff;
    outline: none;
}
.btn-search-o {
    color: #32ccca;
    background-color: #ffffff;
    border: 1px solid #32ccca;
    transition: color .3s, border-color .3s, background-color .3s;
}

.btn-search-o:hover,
.btn-search-o:focus {
    color: #FFFFFF;
    border-color: #32ccca;
    background-color: #32ccca;
    outline: none;
}

.btn-combo {
    width: 100%;
    color: #ffffff;
    border-radius: 0;
    background-color: #32ccca;
}

.btn-combo:hover,
.btn-combo:focus {
    color: #ffffff;
    outline: none;
}

.search-box a.dropdown-toggle {
    color: #666666;
    margin-left: 10px;
}
.dropdown-menu.search-menu {
    width: 528px;
    left: -300px;
}

.search-box .navbar-right {
    margin-right: 0;
    margin-top: 15px;
}

.search-box .navbar-right>a {
    display: block;
    width: 21px;
    height: 21px;
    line-height: normal;
    text-align: center;
    font-size: 14px;
    color: #666666;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #dadada;
}
.search-box .form-control+.dropdown-menu{
    width: 690px;
    left: -50%;
}
.publish-heading .navbar-left a{
    display: inline-block;
    padding: 5px 10px;
    margin-right:5px;
    color: #666666;
    text-decoration: none;
}
.publish-heading .navbar-left a:hover {
    color:#ffffff;
    background-color: #32ccca;
    border-radius: 3px;
}
.publish-heading{
    padding:15px 0;
}
.publish-heading .navbar-left a.active{
    color:#ffffff;
    background-color: #32ccca;
    border-radius: 3px;
}
/*.date-box [class*='col-md-']{
    padding-left: 0;
    padding-right: 0;
}*/
.date-box .glyphicon{color:#666666;}